<!DOCTYPE html>
<html>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/en/8/8a/Axway_Software_logo_June_2017.png"
             style="margin-left:auto; margin-right:auto; display:block;">
    </body>
</html>
